"body {
  text-align: center;l
}

td{
  border: solid black 1px;
}

table {
  margin: auto;
https://developer.mozilla.org/en-US/docs/Sandbox/All-Indicators$compare?from=1547835&to=1555846&utm_campaign=Wiki+Doc+Edits&utm_medium=email&utm_source=developer.mozilla.org
